doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") Home 
      if (membership)
        a(href="/join-members") Join the club 
      if (authenticated)
        a(href="/message/create") Create a message 
        a(href="/logout") Log out 
      else
        a(href="/sign-up") Sign Up 
        a(href="/login") Log In 
    block content
