extends layout 

block content 
    h1 Create Message
    form(method="post" class="form")
        label(for="title") Message title:
        input#title(type="text", name="title" placeHolder="Message title" minLength=3 maxLength=75 value=(undefined === message ? "" : message.title))
        label(for="date") Date:
        input#date(type="datetime-local", name="date" value=(undefined === message ? "" : message.date))
        label(for="text") Text:
        textarea#text(name="text" placeHolder="Message text" minLength=3 maxLength=250 cols=30 rows=10 )=(undefined === message ? "" : message.text)
        button(type="submit") Create 