extends layout

block content
    h1 Sign Up Form
    form(method="post" class="form") 
        label(for="firstName") First Name:
        input(type="text", name="firstName" placeHolder="Epic" id="firstName" required)
        label(for="lastName") Last Name:
        input(type="text", name="lastName" placeHolder="User" id="lastName" required)  
        label(for="email") Email:
        input(type="email", name="email" placeHolder="EpicUser123@email.com" id="email" required)  
        label(for="password") Password:
        input(type="password", name="password", placeHolder="EpicPass321" id="password" required) 
        button(type="submit") Sign Up